/* remember to add font-family to navbar: 'Lobster' , cursive */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* apply stle to header element */
header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  /* add in font family before finishing */
}

header nav {
  margin: 10px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  border-bottom: 2px solid;
  padding-bottom: 2px;
  font-family: "Lobster", cursive;
}

/* add padding to section element for proper alignment on the webpage */

section {
  padding: 10px;
}

/* add styling to hero image for background */

.heroimage {
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
}

/* add an employee photo and styling */

.employeephoto {
  position: absolute;
  top: 150px;
  left: 30px;
  border-style: solid;
  border-radius: 25px;
  border-width: 3px;
  border-color: #9003fc;
  box-shadow: 5px 5px 8px gray;
}

.heroimage h2 {
  display: flex;
  justify-content: baseline;
  font-size: 20px;
  margin-top: 300px;
}

/* about section styling */

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 50px;
  width: 90%;
  align-items: center;
}

.flex-rows {
  display: flex;
  justify-content: left;
}

.title-for-section {
  font-size: 35px;
  margin: 0 0 0 80px;
  width: 50%;
  color: #9003fc;
}

.about-info {
  flex: 2 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* make sure to add a border color */
.about-border1 {
  border-right: 3px solid black;
  height: 150px;
  flex: 2 1%;
}

.about-text {
  flex: 25;
}
.about-text p {
  font-size: 15px;
  text-align: left;
  margin-left: 30px;
  width: 100%;
  line-height: 1.8;
}
